version: '3'
services:
  db:
    image: postgis/postgis:13-3.1-alpine
    env_file: ./docker/db/.env
#    volumes:
#      - ./docker/data/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h db -U directus"] #TODO
      interval: 5s
      timeout: 5s
      retries: 10

  cache:
    image: redis:6
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3

  directus:
    build: ./docker/directus
    env_file: ./src/directus/.env
    volumes:
      - ./src/directus/uploads:/directus/uploads
      - ./src/directus/extensions:/directus/extensions
      - ./src/directus/schema/:/directus/schema
      - ./src/directus/roles/:/directus/roles
      - ./src/directus/presets/:/directus/presets
      - ./src/directus/webhooks/:/directus/webhooks
      - ./src/directus/translations/:/directus/translations
      - ./src/directus/flows/:/directus/flows
      - ./src/directus/settings/:/directus/settings
      - ./src/directus/contents/:/directus/contents
      - ./src/directus/cli/:/directus/cli
      - ./src/directus/.env/:/directus/.env
    depends_on:
      cache:
        condition: service_healthy
      db:
        condition: service_healthy

  frontend:
    build: ./docker/frontend
    volumes:
      - ./src/frontend:/frontend
    env_file: ./src/frontend/.env
    depends_on:
    - directus
