@tailwind base;
@tailwind components;
@tailwind utilities;

.has-long-links a {
  word-break: break-all;
}

a {
  overflow-wrap: anywhere;
  word-break: break-word;
}


.collapse-plus > .collapse-title::after {
  font-size: 1.5rem;
  line-height: 0.5rem;
  right: 1rem;
}

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("~/assets/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    src: url("~/assets/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: url("~/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: url("~/assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
