{% layout "custom-base" %} {% block content %}

<h1 style="color: #006e94; font-size: 24px; font-weight: 700; margin-bottom: 24px;">Einladung zum Gesundheits-Wahlcheck zur Berlin-Wahl</h1>

<p style="font-size: 16px; line-height: 1.5; color: #525252; margin-bottom: 16px;">
  Sehr geehrte Mitglieder der {{ candidate_name }} Berlin,
</p>

<p style="font-size: 16px; line-height: 1.5; color: #525252; margin-bottom: 24px;">
  wir freuen uns, Sie zur Teilnahme am Gesundheitswahlcheck für die Wahl des Abgeordnetenhauses im September 2026 einzuladen.
  Über den untenstehenden Button gelangen Sie direkt zu Ihrem persönlichen Fragebogen, in dem Sie Ihre Position zu wichtigen Gesundheits- & Klimaschutz-Maßnahmen darlegen können.
</p>

<div style="text-align: center; margin-bottom: 30px;">
  <a
    class="button"
    rel="noopener"
    target="_blank"
    href="{{ personal_link }}"
    style="
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 8px;
      background: #006e94;
      border: 1px solid #006e94;
    "
  >
    <!--[if mso]>
      <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
        >&nbsp;</i
      >
    <![endif]-->
    <span style="mso-text-raise: 15pt">Zum Gesundheits-Wahlcheck</span>
    <!--[if mso]>
      <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i>
    <![endif]-->
  </a>
</div>

<p style="font-size: 16px; line-height: 1.5; color: #525252; margin-bottom: 16px;">
  Bitte beachten Sie, dass die Frist für die Abgabe Ihrer Antworten am <strong>{{ cutoff_date }}</strong> endet.
</p>

<p style="font-size: 16px; line-height: 1.5; color: #525252; margin-bottom: 24px;">
  Sollten Sie Fragen haben oder Unterstützung benötigen, können Sie sich jederzeit gerne an uns wenden.
</p>

<hr style="border-top: 1px solid #d3dae4; margin-bottom: 24px;" />

<p style="font-size: 14px; line-height: 1.5; color: #737373;">
  Vielen Dank für Ihren Beitrag!<br />
  Ihr Team von Health4Future Berlin & Stadt.Land.Klima!
</p>

{% endblock %}
